-r requirements-common.txt
pyobjc-core>=12,<13
pyobjc-framework-Cocoa>=12,<13
pyobjc-framework-AVFoundation>=12,<13
pyobjc-framework-CoreMedia>=12,<13
pyobjc-framework-VideoToolbox>=12,<13
pyobjc-framework-UserNotifications>=12,<13
mlx-whisper
